<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hallone, Data Science World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div>
  			<h1>Hallone, Data Science World!</h1>
		</div>
		<form action="/query" method="post">
      		<p> Please enter a stock ticker eg. GOOG, and check desired features." </p>
      		Ticker Symbol:
      		<input type="text" name="ticker"></input>
      		<p> <input type="radio" name="price" value="Closing Price">Closing Price</input> </p>
      		<p> <input type="radio" name="price" value="Adjusted Closing Price">Adjusted Closing Price</input> </p>
      		<p> <input type="radio" name="price" value="Opening Price">Opening Price</input> </p>
      		<p> <input type="radio" name="price" value="Adjusted Opening Price">Adjusted Opening Price</input> </p>
      		<p> <input type="submit" value="Submit"> </p>
    		</form>
	</body>
</html>
